<a href="https://colab.research.google.com/github/ismoil27/test-colab/blob/main/vector_and_matrix.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
student = [18, 1, 0] # => [age, gender, has_glasses]

age = 18
gender = 1
has_glasses = 0

In [ ]:
print(student[0])
print(student[1])
print(student[2])

18
1
0

In [ ]:
updated_student = [data + 10 for data in student]
print('updated_student', updated_student)
print('student', student)

updated_student [28, 11, 10]
student [18, 1, 0]